In [1]:
import pandas as pd
import numpy as np

from modules.seed_germination_parameters import MGT, GP, Z
from modules.stat_test import tStudent_test, Mann_Whitney_U_test

In [2]:
heap_data = pd.read_csv('heap.csv')
heap_data.drop('target', axis=1, inplace=True)
heap_data.head()

,2022-03-03 00:00:00,2022-03-04 00:00:00,2022-03-05 00:00:00,2022-03-06 00:00:00,2022-03-07 00:00:00,2022-03-08 00:00:00,2022-03-09 00:00:00,2022-03-10 00:00:00,2022-03-11 00:00:00,2022-03-12 00:00:00,...,2022-03-22 00:00:00,2022-03-23 00:00:00,2022-03-24 00:00:00,2022-03-25 00:00:00,2022-03-26 00:00:00,2022-03-27 00:00:00,2022-03-28 00:00:00,2022-03-29 00:00:00,2022-03-30 00:00:00,2022-03-31 00:00:00
0,0,0,0,2,5,3,0,0,0,1,...,4.0,3.0,0.0,3.0,2.0,0.0,2.0,0.0,0.0,0.0
1,0,0,0,1,5,5,0,0,0,0,...,4.0,1.0,3.0,3.0,1.0,1.0,0.0,0.0,0.0,1.0
2,0,0,1,5,7,3,1,0,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,4,11,5,0,2,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0,0,0,0,7,12,7,5,5,1,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [3]:
heap_data.fillna(0, axis=1, inplace=True)

In [4]:
post_agricultural_data = pd.read_csv('post_agricultural.csv')
post_agricultural_data.drop('target', axis=1, inplace=True)
post_agricultural_data.head()

,2022-03-03 00:00:00,2022-03-04 00:00:00,2022-03-05 00:00:00,2022-03-06 00:00:00,2022-03-07 00:00:00,2022-03-08 00:00:00,2022-03-09 00:00:00,2022-03-10 00:00:00,2022-03-11 00:00:00,2022-03-12 00:00:00,...,2022-03-22 00:00:00,2022-03-23 00:00:00,2022-03-24 00:00:00,2022-03-25 00:00:00,2022-03-26 00:00:00,2022-03-27 00:00:00,2022-03-28 00:00:00,2022-03-29 00:00:00,2022-03-30 00:00:00,2022-03-31 00:00:00
0,0,0,0,0,1,5,6,2,3,4,...,0.0,0.0,0.0,2.0,1.0,1.0,3.0,1.0,0.0,1.0
1,0,0,0,0,0,6,3,3,2,3,...,1.0,0.0,2.0,1.0,2.0,2.0,3.0,0.0,0.0,0.0
2,0,0,0,0,1,4,1,3,2,1,...,0.0,1.0,0.0,2.0,4.0,3.0,0.0,1.0,1.0,2.0
3,0,0,0,0,0,4,3,2,4,3,...,0.0,2.0,2.0,2.0,1.0,0.0,0.0,1.0,1.0,0.0
4,0,0,1,0,0,4,5,3,4,4,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0

In [5]:
post_agricultural_data.fillna(0, axis=1, inplace=True)

## Seeds collected on a heap

In [6]:
mgt_heap = MGT(heap_data)
mgt_heap

6.772985244040862

In [7]:
gp_heap = GP(heap_data, 1999)
gp_heap

Ng = 1762.0

88.144072036018

In [8]:
z_heap = Z(heap_data)
z_heap

0.16959394524187513

## Seeds collected on a post-agricultural area

In [9]:
mgt_post_agricultural = MGT(post_agricultural_data)
mgt_post_agricultural

10.962828649138713

In [10]:
gp_post_agricultural = GP(post_agricultural_data, 1797)
gp_post_agricultural

Ng = 1103.0

61.38007790762382

In [11]:
z_post_agricultural = Z(post_agricultural_data)
z_post_agricultural

0.0921377599123328